In [1]:
from lxml import objectify
import pandas as pd

In [8]:
xml = objectify.parse(open("Source Code/XMLData2.xml"))
root = xml.getroot()
df = pd.DataFrame(columns = ('Number', 'String', 'Boolean'))

In [6]:
print(xml)

<lxml.etree._ElementTree object at 0x0000022F51D587C0>

In [11]:
for i in range(4):
    obj = root.getchildren()[i].getchildren()
    row = dict(zip(['Number', 'String', 'Boolean'], 
                  [obj[0].text, obj[1].text, obj[2].text]))
    row_s = pd.Series(row)
    row_s.name = i
    df = df.append(row_s)

In [12]:
print(df)

  Number  String Boolean
0      1   First    True
1      2  Second   False
2      3   Third    True
3      3   Third    True

In [16]:
search = pd.DataFrame.duplicated(df)
print(df)
print()
print(search[search==True])
print(search)

  Number  String Boolean
0      1   First    True
1      2  Second   False
2      3   Third    True
3      3   Third    True

3    True
dtype: bool
0    False
1    False
2    False
3     True
dtype: bool

In [17]:
print(df.drop_duplicates())

  Number  String Boolean
0      1   First    True
1      2  Second   False
2      3   Third    True

In [28]:
pd.set_option('display.width', 55)
df1 = pd.DataFrame({"A":[0,0,0,0,0,1,1],
                    "B":[1,2,3,5,4,2,5],
                    "C":[5,3,4,1,1,2,3]})

In [31]:
df1

   A  B  C
0  0  1  5
1  0  2  3
2  0  3  4
3  0  5  1
4  0  4  1
5  1  2  2
6  1  5  3

In [29]:
a_group_desc = df1.groupby("A").describe()
print(a_group_desc)

      B                                            \
  count mean       std  min   25%  50%   75%  max
A
0   5.0  3.0  1.581139  1.0  2.00  3.0  4.00  5.0
1   2.0  3.5  2.121320  2.0  2.75  3.5  4.25  5.0

      C
  count mean       std  min   25%  50%   75%  max
A
0   5.0  2.8  1.788854  1.0  1.00  3.0  4.00  5.0
1   2.0  2.5  0.707107  2.0  2.25  2.5  2.75  3.0

In [27]:
stacked = a_group_desc.stack()
print(stacked)

                B         C
A
0 count  5.000000  5.000000
  mean   3.000000  2.800000
  std    1.581139  1.788854
  min    1.000000  1.000000
  25%    2.000000  1.000000
  50%    3.000000  3.000000
  75%    4.000000  4.000000
  max    5.000000  5.000000
1 count  2.000000  2.000000
  mean   3.500000  2.500000
  std    2.121320  0.707107
  min    2.000000  2.000000
  25%    2.750000  2.250000
  50%    3.500000  2.500000
  75%    4.250000  2.750000
  max    5.000000  3.000000

In [53]:
a_group_desc.loc[:,(slice(None),['count'])]

      B     C
  count count
A
0   5.0   5.0
1   2.0   2.0

In [54]:
print(pd.__version__)

1.1.0

In [82]:
car_color = pd.Series(['Blue','Red','Green'], dtype='category')

In [87]:
car_data = pd.Series(pd.Categorical(['Yellow', 'Green','Red', 'Blue','Blue', 'Red', 'Purple'],
                     categories=car_color, ordered = False))

In [88]:
find_entries = pd.isnull(car_data)
print(car_color)

0     Blue
1      Red
2    Green
dtype: category
Categories (3, object): ['Blue', 'Green', 'Red']

In [89]:
print(car_data)

0      NaN
1    Green
2      Red
3     Blue
4     Blue
5      Red
6      NaN
dtype: category
Categories (3, object): ['Blue', 'Green', 'Red']

In [86]:
print(find_entries[find_entries == True])

0    True
4    True
dtype: bool

In [71]:
car_color.cat.categories = ["Purple", "Yellow", "Mauve"]
car_color

0    Purple
1     Mauve
2    Yellow
dtype: category
Categories (3, object): ['Purple', 'Yellow', 'Mauve']

In [92]:
car_data = car_data.cat.set_categories(["Blue", "Red", "Green", "Blue_Red"])
print(car_data.loc[car_data.isin(['Red'])])

2    Red
5    Red
dtype: category
Categories (4, object): ['Blue', 'Red', 'Green', 'Blue_Red']

In [94]:
import datetime as dt
     
now = dt.datetime.now()
print(now)
print(str(now))
print(now.strftime('%a, %d %B %Y'))

2021-02-28 18:27:39.360306
2021-02-28 18:27:39.360306
Sun, 28 February 2021

In [97]:
timevalue = now + dt.timedelta(hours=2)
print(now.strftime('%H:%M:%S'))
print(timevalue.strftime('%H:%M:%S'))
print(timevalue - now)

18:27:39
20:27:39
2:00:00

In [98]:
import numpy as np
s = pd.Series([1,2,3,np.NaN, 5,6,None])
print(s.isnull())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [100]:
print(s[s.isnull()])

3   NaN
6   NaN
dtype: float64

In [101]:
print(s.fillna(int(s.mean())))

0    1.0
1    2.0
2    3.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64

In [103]:
s.dropna()

0    1.0
1    2.0
2    3.0
4    5.0
5    6.0
dtype: float64

In [108]:
import sklearn
dir(sklearn.preprocessing)

['Binarizer',
 'FunctionTransformer',
 'KBinsDiscretizer',
 'KernelCenterer',
 'LabelBinarizer',
 'LabelEncoder',
 'MaxAbsScaler',
 'MinMaxScaler',
 'MultiLabelBinarizer',
 'Normalizer',
 'OneHotEncoder',
 'OrdinalEncoder',
 'PolynomialFeatures',
 'PowerTransformer',
 'QuantileTransformer',
 'RobustScaler',
 'StandardScaler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_csr_polynomial_expansion',
 '_data',
 '_discretization',
 '_encoders',
 '_function_transformer',
 '_label',
 'add_dummy_feature',
 'binarize',
 'label_binarize',
 'maxabs_scale',
 'minmax_scale',
 'normalize',
 'power_transform',
 'quantile_transform',
 'robust_scale',
 'scale']